#a{
    position: absolute;
    left: 100px;
    width: 100px;
    height: 50px;
    background-color: #006699;
    animation: 1s move infinite;
}
@keyframes move {
    0% {
        width: 0px; }
    1% {
        width: 1.727528515px; }
    2% {
        width: 6.6177524954px; }
    3% {
        width: 14.2302126227px; }
    4% {
        width: 24.1281513172px; }
    5% {
        width: 35.8854912957px; }
    6% {
        width: 49.092844111px; }
    7% {
        width: 63.3625565978px; }
    8% {
        width: 78.3328185496px; }
    9% {
        width: 93.6708682115px; }
    10% {
        width: 109.0753433191px; }
    11% {
        width: 124.2778344843px; }
    12% {
        width: 139.0437048192px; }
    13% {
        width: 153.1722448884px; }
    14% {
        width: 166.4962355275px; }
    15% {
        width: 178.8809928886px; }
    16% {
        width: 190.2229704381px; }
    17% {
        width: 200.4479916814px; }
    18% {
        width: 209.5091853048px; }
    19% {
        width: 217.3846913559px; }
    20% {
        width: 224.0752032032px; }
    21% {
        width: 229.6014054742px; }
    22% {
        width: 234.001363129px; }
    23% {
        width: 237.3279114138px; }
    24% {
        width: 239.6460907992px; }
    25% {
        width: 241.0306652616px; }
    26% {
        width: 241.5637565133px; }
    27% {
        width: 241.332621138px; }
    28% {
        width: 240.4275921206px; }
    29% {
        width: 238.9402010439px; }
    30% {
        width: 236.9614923259px; }
    31% {
        width: 234.5805363339px; }
    32% {
        width: 231.8831440679px; }
    33% {
        width: 228.9507823896px; }
    34% {
        width: 225.8596854908px; }
    35% {
        width: 222.6801554602px; }
    36% {
        width: 219.4760424106px; }
    37% {
        width: 216.3043926671px; }
    38% {
        width: 213.2152519701px; }
    39% {
        width: 210.251609498px; }
    40% {
        width: 207.4494677329px; }
    41% {
        width: 204.8380227565px; }
    42% {
        width: 202.4399394343px; }
    43% {
        width: 200.2717060989px; }
    44% {
        width: 198.344053734px; }
    45% {
        width: 196.6624252677px; }
    46% {
        width: 195.2274813584px; }
    47% {
        width: 194.0356299821px; }
    48% {
        width: 193.0795681606px; }
    49% {
        width: 192.3488252805px; }
    50% {
        width: 191.8302986238px; }
    51% {
        width: 191.5087729194px; }
    52% {
        width: 191.3674169227px; }
    53% {
        width: 191.3882512118px; }
    54% {
        width: 191.5525825315px; }
    55% {
        width: 191.8414011118px; }
    56% {
        width: 192.2357384178px; }
    57% {
        width: 192.7169837485px; }
    58% {
        width: 193.2671589725px; }
    59% {
        width: 193.8691514851px; }
    60% {
        width: 194.5069061617px; }
    61% {
        width: 195.1655776974px; }
    62% {
        width: 195.8316452278px; }
    63% {
        width: 196.4929915588px; }
    64% {
        width: 197.1389496631px; }
    65% {
        width: 197.7603193583px; }
    66% {
        width: 198.3493572558px; }
    67% {
        width: 198.899743173px; }
    68% {
        width: 199.4065262402px; }
    69% {
        width: 199.8660539095px; }
    70% {
        width: 200.2758870027px; }
    71% {
        width: 200.6347038153px; }
    72% {
        width: 200.9421961382px; }
    73% {
        width: 201.1989598721px; }
    74% {
        width: 201.4063826987px; }
    75% {
        width: 201.5665310442px; }
    76% {
        width: 201.682038329px; }
    77% {
        width: 201.7559962513px; }
    78% {
        width: 201.7918506029px; }
    79% {
        width: 201.7933028686px; }
    80% {
        width: 201.7642186226px; }
    81% {
        width: 201.7085435036px; }
    82% {
        width: 201.6302273363px; }
    83% {
        width: 201.5331567612px; }
    84% {
        width: 201.4210965541px; }
    85% {
        width: 201.2976396435px; }
    86% {
        width: 201.1661656921px; }
    87% {
        width: 201.0298079724px; }
    88% {
        width: 200.8914281623px; }
    89% {
        width: 200.7535985896px; }
    90% {
        width: 200.6185913856px; }
    91% {
        width: 200.488373949px; }
    92% {
        width: 200.3646100841px; }
    93% {
        width: 200.2486661521px; }
    94% {
        width: 200.1416215645px; }
    95% {
        width: 200.0442829495px; }
    96% {
        width: 199.9572013371px; }
    97% {
        width: 199.8806917291px; }
    98% {
        width: 199.8148544542px; }
    99% {
        width: 199.7595977442px; }
    100% {
        width: 199.7146610098px; } }
